@page 
@model BooksModel 
@{
    ViewData["Title"] = "Books page"; 
}

<div class="text-center">
    <h1 class="display-4">Your Books</h1>

    @try
    {
        var books = Repository.UserRepositoryInstance.GetUser().Books; 
        if (books == null || books.Count == 0)
        {
            <p>You don't have any favorite books.</p>
            <p>Please, click on the button below to add your book.</p>
        }
        else
        {
            <table style="width:80%; border: 1px solid black;">
                <tr style="border: 1px solid black;">
                    <th style="border: 1px solid black;">No.</th>
                    <th style="border: 1px solid black;">Name</th>
                    <th style="border: 1px solid black;">Description</th>
                </tr>

                @{
                    int index = 1; 
                    foreach (var book in books)
                    {
                        <tr style="border: 1px solid black;">
                            <td style="border: 1px solid black;">@index</td>
                            <td style="border: 1px solid black;"><i>@Html.DisplayFor(modelItem => book.Name)</i> by <i>@Html.DisplayFor(modelItem => book.Author)</i></td>
                            <td style="border: 1px solid black;">@Html.DisplayFor(modelItem => book.Desciption)</td>
                        </tr>
                        index++; 
                    }
                }
            </table>
        }
    }
    catch (System.Exception e)
    {
        <p>Unable to draw the table.</p>
        <p>Exception: @e</p>
    }

    <br>
    <form method="post">
        <input type="submit" asp-page-handler="AddNewBook" value="Add new book">
    </form>
</div>